#pad {
	position: absolute;
	
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	background: black;	

	display: flex;
	justify-content: center;
	align-items: center;
}


#label {
	font: 40px Arial;
	color: white;
	user-select: none;
}

.sidebar {
	transform: translateX(0px);
}

.line-0 {
	transform: rotate(45deg) translate(4.5px, 12px);
}

.line-0 {
	transform: scale(0);
}

.line-2 {
	transform: rotate(-45deg) translate(-7.5px);
}